@media (min-width:1200px) {
ul.topics-list li, li[component="chat/message"], [component="chat/recent/room"], div#users-container a {
    padding: 20px !important;
    width: 32%;
    max-height: 220px;
    min-height: 220px;
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    float: left;
}
/* You probably do not need this as it is required for sudonix.org which has a heavily customized theme - remove the below block if odd behaviour */
[component=category], .categories-list, [component="groups/container"], .users-container {
    visibility: hidden;
    margin-left: -10px;
    margin-right: -22px;
}
[component="topic/header"] .text-reset, [component="categories/category"] .text-reset {
    font-weight: 500;
    font-family: "Montserrat";
    font-size: 18px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    margin-right: 20px;
}
.lastpost {
    margin-left: -366px;
    margin-top: 0px;
    width: 365px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: pre-wrap;
    height: 50% !important;
}
.lastpost a img {
    position: relative;
    top: 27px;
    left: -180px;
}
.lastpost .post-content {
    margin-top: -35px;
    width: 290px;
    max-width: 300px;
}
.lastpost .timeago {
    margin-top: 115px !important;
    margin-left: -230px !important;
    position: absolute;
}
.line-clamp-sm-2 {
    margin-left: 50px !important;
}
[component="topic/labels"] .timeago {
    position: absolute;
    bottom: -25px;
    left: -56px;
    display: none !important;
}
h3[component="topic/header"] {
    min-height: 75px;
    max-height: 75px;
    width: 300px !important;
    margin-right: 20px !important;
}
.meta.stats {
    margin-top: 147px;
    width: 200px !important;
    margin-left: -28px;
}
.stats .fs-5 {
    font-size: 80% !important;
}
span[component="topic/labels"] {
    margin-left: -55px;
    margin-top: 10px;
    width: 380px !important;
}
img.topic-thumb.rounded-1.bg-light {
    display: none;
}
[data-widget-area="footer"] {
    margin-bottom: 60px;
}
i[component="topic/select"] {
    top: 135px;
    position: relative;
    left: 0px;
}
}
